@model Tourfirm.Domain.ViewModels.TourAddViewModel

@{
    ViewBag.Title = "Tour Info";
    Layout = "_Layout";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form asp-controller="Tour" asp-action="TourAdd" >
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputName"> Name </label>
            <input type="text" class="form-control" id="inputName" placeholder="Tour's name">
        </div>
        <div class="form-group col-md-6">
            <label for="inputDescription">Description</label>
            <textarea class="form-control" id="inputDescription" placeholder="Description"></textarea>
        </div>
    </div>
    <div class="form-row">
    <div class="form-group">
    <label for="inputHotel">Hotel</label>
        <select id="inputHotel" class="form-control" asp-items="@Model.AllHotels">
        </select>
        </div>
        <div class="form-group">
            <label for="inputType">Tour type</label>
               <select id="inputType" class="form-control" asp-items="@Model.AllTourTypes">
                    </select>
        </div>
        <div class="form-group">
            <label for="inputRoute">Tour route</label>
            <select id="inputRoute" class="form-control" asp-items="@Model.AllRoutes">
            </select>
        </div>
        
        <div class="form-group">
            <label for="inputCountry">Tour country</label>
            <select id="inputCountry" class="form-control" asp-items="@Model.AllCountries">
            </select>
        </div>
        
        <div class="mb-3">
          <label for="formFileMultiple" class="form-label">Choose photos</label>
          <input class="form-control" type="file" id="formFileMultiple" multiple="multiple">
        </div>
    </div>
    <button type="submit" class="btn btn-primary margin-md">Add tour</button>
</form>

</body>
</html>