@model Tourfirm.Domain.Entity.Cart

@{
    ViewBag.Title = Model.User.Account.Login + " - Cart";
    Layout = "_Layout";
}
@if (!ViewData.ModelState.IsValid)
{
    <div class="validation alert alert-danger mb-md-5 padding-md" asp-validation-summary="All"></div>
}
<h2>title</h2>

@foreach (var item in Model.Tours)
{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            <p class="card-text">@item.Description</p>
            <a href="#" class="btn btn-primary">Make order</a>
        </div>
    </div>
}   