@{
    ViewBag.Title = "Stats";
    Layout = "_Layout";
}

<body>

    <p>Prices</p>
<canvas id="myChart"></canvas>

<hr/>

<p>Country stats</p>
<canvas id="countryChart"></canvas>

<hr/>

<p>Tours in carts</p>
<canvas id="lineChart"></canvas>

<hr/>

<p>User's roles</p>
<canvas id="polarAreaChart"></canvas>
  

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: @Html.Raw(ViewBag.productNameList),
      datasets: [{
        label: '# of Prices',
        data: [@ViewBag.productPriceList],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
  
  const pie = document.getElementById('countryChart');
       new Chart(pie, {
         type: 'doughnut',
        data: {
        labels: @Html.Raw(ViewBag.countryNames),
        datasets: [{
          label: 'Tours',
          data: [@ViewBag.tourValues],
          backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)', 
                'rgb(244, 2, 255)',
                'rgb(100, 205, 86)',
                'rgb(10, 50, 86)',
                'rgb(255, 205, 86)',
                'rgb(255, 1, 66)', 
                'rgb(120, 122, 1)'
           ],
          hoverOffset: 4
        }]
       } 
       });
       
   const line = document.getElementById('lineChart');    
  new Chart(line, {
      type: 'line',
      data: {
        labels: @Html.Raw(ViewBag.productNameList),
        datasets: [{
          label: '# Carts',
          data: [@ViewBag.inCartValues],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  
  const polarArea = document.getElementById('polarAreaChart');
  
    new Chart(polarArea, {
      type: 'polarArea',
      data: {
        labels: @Html.Raw(ViewBag.userRoles),
        datasets: [{
          label: '# of Users',
          data: [@ViewBag.userRolesValue],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
</script>
</body>
